.background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.button{
  width: 100%;
  color: white;
  background-color: black;
  padding: 12px 20px;
  margin-top: 8px;
  margin-bottom: 15px;
  display: inline-block;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
.container-main{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: none;
  border-radius: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-upload {
  /* background-color: #432616; */
  background-color: white;
  opacity: 0.9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
}

.container-coordinates {
  position: absolute;
  top: 50%;
  left: 65%;
  background-color: white;
  opacity: 0.9;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  z-index: 10;
}

.title-big{
  color: white;
  font-size: 120px;
}
.title-small{
  color: black;
  font-size: 30px;
}

.input{
  display: none;
}

.label-button{
  width: 100%;
  color: white;
  background-color: black;
  padding: 12px 20px;
  margin-top: 8px;
  margin-bottom: 15px;
  display: inline-block;
  text-align: center;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

body, input, button, select, option, textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
body {
  font-size: 100%;
}
input, button, select, option, textarea {
  font-size: 100%;
}